{% load static %}
<header>
    <nav>
        <a href="{% url 'index' %}"><img id="logo-header" src="{% static 'imgs/logo.png' %}" alt=""></a>
        {% for categoria in categorias %}
            <a href="{% url 'temas' categoria.nombre %}">{{categoria.nombre}}</a>
        {% endfor %}
        <a href="">Soporte</a>
        <a href="">Dónde comprar</a>
        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href=""><i class="fa-solid fa-bag-shopping"></i></a>
    </nav>
</header>