* {
    margin: 0px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Hero */

#evento {
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    text-align: left;
}

#evento h2 {
    font-size: 3em;
}

.cont-text {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cont-text p {
    font-size: 19px;
    font-weight: bold;
}

#evento video {
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
    height: 600px;
}

.cont-video {
    margin-top: 10px;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pause {
    border-radius: 50%;
    max-width: 50px;
    position: absolute;
    border: 0px solid transparent;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
}

.pause i {
    color: #a3a3a3;
    font-size: 30px;
    padding: 10px;
}

.sections-child:first-child {
    margin-top: 0px;
}
.sections-child {
    width: 90vw;
    margin-top: 20px;
}

.item {
    padding: 0px 50px 0px;
}

.item img {
    max-width: 200px;
    max-height: 160px;
    object-fit: cover;
}

.cont-apple {
    display: flex;
    padding-bottom: 20px;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
    text-align: center;
}

.apple-buy-text p {
    margin-bottom: 20px;
}

.cont-apple h4 {
    padding: 15px;
    font-size: 22px;
    text-align: center;
}

.item a {
    background-color: var(--blue-default);
    padding: 10px;
    border: 0px solid transparent;
    color: #fff;
    border-radius: 30px;
    text-decoration: none;
}
