main {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

main article {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.info {
    background-color: #e9e9e9;
    width: 800px;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
}

.info a {
    color: #868686;
    text-decoration: none;
}

.variante_link {
    background-color: #adadad86;
    padding: 5px;
    border-radius: 20px;
    color: #000 !important;
}

.cont-variantes {
    margin-top: 20px;
}