<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'layouts/head_atts.html' %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>Apple</title>
</head>
<body>
    {% include 'layouts/header.html' %}
    <main>
        <section id="evento">
            <div class="cont-text">
                <h2>iPhone</h2>
                <p>Diseñado para conquistarte.</p>
            </div>
            <div class="cont-video">
                <video loop autoplay muted id="myVideo" src="{% static 'videos/hero.mp4' %}"></video>
                <button class="pause" onclick="Pause()"><i class="fa-solid fa-pause" id="butoncito"></i></button>
            </div>
        </section>
        <section class="sections-child">
            <div class="apple-buy-text">
                <h2>iPhone</h2>
                <p>Diseñado para conquistarte.</p>
                <div class="cont-apple">
                {% for iphone in iphones %}
                    <div class="item">
                        <a href="{% url 'producto' iphone.categoria.nombre iphone.id %}" class="link-prod">
                            <img alt="{{iphone.nombre}}" src="/media/{{iphone.foto}}">
                            <h4>{{iphone.nombre}}</h4>
                            <p>En stock: {{iphone.stock}}</p>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="sections-child">
            <div class="apple-buy-text">
                <h2>Mac</h2>
                <p>Sueña en grande, la Mac puede hacerlo.</p>
                <div class="cont-apple">
                {% for mac in macs %}
                <div class="item">
                    <a href="{% url 'producto' mac.categoria.nombre mac.id %}" class="link-prod">
                        <img alt="{{mac.nombre}}" src="/media/{{mac.foto}}">
                        <h4>{{mac.nombre}}</h4>
                        <p>En stock: {{mac.stock}}</p>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="sections-child">
            <div class="apple-buy-text">
                <h2>Watch</h2>
                <p>Tenerlo es quererlo.</p>
                <div class="cont-apple">
                {% for watch in watchs %}
                    <div class="item">
                        <a href="{% url 'producto' watch.categoria.nombre watch.id %}" class="link-prod">
                            <img alt="{{watch.nombre}}" src="/media/{{watch.foto}}">
                            <h4>{{watch.nombre}}</h4>
                            <p>En stock: {{watch.stock}}</p>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="sections-child">
            <div class="apple-buy-text">
                <h2>Pad</h2>
                <p>Una invitación a tocar, dibujar, escribir y crear.</p>
                <div class="cont-apple">
                {% for pad in pads %}
                <div class="item">
                    <a href="{% url 'producto' pad.categoria.nombre pad.id %}" class="link-prod">
                        <img alt="{{pad.nombre}}" src="/media/{{pad.foto}}">
                        <h4>{{pad.nombre}}</h4>
                        <p>En stock: {{pad.stock}}</p>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="sections-child">
            <div class="apple-buy-text">
                <h2>AirPods</h2>
                <p>Ábrele la puerta de tu casa al futuro.</p>
                <div class="cont-apple">
                {% for pod in pods %}
                <div class="item">
                    <a href="{% url 'producto' pod.categoria.nombre pod.id %}" class="link-prod">
                        <img alt="{{pod.nombre}}" src="/media/{{pod.foto}}">
                        <h4>{{pod.nombre}}</h4>
                        <p>En stock: {{pod.stock}}</p>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="sections-child">
            <div class="apple-buy-text">
                <h2>Tv y Casa</h2>
                <p>Ábrele la puerta de tu casa al futuro.</p>
                <div class="cont-apple">
                {% for tyc in tycs %}
                <div class="item">
                    <a href="{% url 'producto' tyc.categoria.nombre tyc.id %}" class="link-prod">
                        <img alt="{{tyc.nombre}}" src="/media/{{tyc.foto}}">
                        <h4>{{tyc.nombre}}</h4>
                        <p>En stock: {{tyc.stock}}</p>
                    </a>
                </div>
                {% endfor %}
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'js/index.js' %}"></script>
    {% include 'layouts/footer.html' %}
</body>
</html>