<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'layouts/head_atts.html' %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <title>Apple</title>
</head>
<body>
    {% include 'layouts/header.html' %}
    <main>
        <section id="evento">
            <div class="cont-text">
                <h2>iPhone</h2>
                <p>Diseñado para conquistarte.</p>
            </div>
            <div class="cont-video">
                <video loop autoplay muted id="myVideo" src="{% static 'videos/hero.mp4' %}"></video>
                <button class="pause" onclick="Pause()"><i class="fa-solid fa-pause" id="butoncito"></i></button>
            </div>
        </section>
        <section id="iphone">
            <div class="iphone-buy-text">
                <h2>iPhone</h2>
                <p>Diseñado para conquistarte.</p>
            </div>
        </section>
        <section id="macbook">
            <a href="">
                <h2>MacBook Air</h2>
                <span>Superligera. Superchip M3.</span>
                <button>Mas Informacion</button>
            </a>
        </section>
        <section id="grid-gallery">
            <div>
                <a href="">
                    <h4>Apple Intelligence</h4>
                    <span>Una IA para todos.</span>
                    <p>Disponible proximamente este año en version beta en ingles de Estados Unidos</p>
                    <button>Mas Informacion</button>
                </a>
            </div>
            <div>
                <a href="">
                    <h4>Apple Intelligence</h4>
                    <span>Increiblemente poderoso</span>
                    <span>Asombrosamente delgado</span>
                    <button>Mas Informacion</button>
                </a>
            </div>
            <div>
                <a href="">
                    <h4>Watch</h4>
                    <span>Mas poder para brillas mas</span>
                    <button>Mas Informacion</button>
                </a>
            </div>
            <div>
                <a href="">
                    <h4>MacBook Pro</h4>
                    <span>Te roba las miradas. Se roba las miradas</span>
                    <button>Mas Informacion</button>
                </a>
            </div>
        </section>
    </main>
    <script src="{% static 'js/index.js' %}"></script>
    {% include 'layouts/footer.html' %}
</body>
</html>