<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    {% include 'layouts/head_atts.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/auth.css' %}">
    <title>Iniciar sesion</title>
</head>
<body>
    {% include 'layouts/header.html' %}
    <main>
        <h1>Iniciar sesion</h1>
        <form method="post">
            {% csrf_token %}
            {{form}}
            <button type="submit">Enviar</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
    </main>
    {% include 'layouts/footer.html' %}
</body>
</html>