<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/productos.css' %}">
    {% include 'layouts/head_atts.html' %}
    <title>Apple - {{producto.nombre}}</title>
</head>
<body>
    {% include 'layouts/header.html' %}
    <main>
        <article>
            <div class="image">
                <img src="/media/{{producto.foto}}">
            </div>
            <div class="info">
                <a href="{% url 'temas' producto.categoria.nombre %}"><b> < {{producto.categoria}}</b></a>
                <h1>{{producto.nombre}} (General)</h1>
                {% if producto.stock <= 0 %}
                    <b class="no-avaible">Sin stock general</b>
                {% else %}
                    <b class="avaible">Stock general: {{producto.stock}}</b>
                {% endif %}
                <b>Descripcion:</b>
                <p>{{producto.descripcion}}</p>
                <b>Variantes:</b>
                <div class="cont-variantes">
                {% for variante in variantes %}
                    <a href="{% url 'variante' producto.categoria.nombre producto.id variante.id %}" class="variante_link">{{variante.nombre_variante}}</a>
                {% empty %}
                <p>Producto sin variante</p>
                {% endfor %}
                <a href="{% url 'crear_mod' producto.id %}"><i class="fa-solid fa-plus"></i></a>
                </div>
                <div class="cont-btns">
                    <a href="{% url 'editar_producto' producto.id %}" class="btn-edit">Editar producto</a>
                    <a href="{% url 'eliminar_producto' producto.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');" class="btn-edit">Eliminar producto</a>
                </div>
            </div>
        </article>
    </main>
    {% include 'layouts/footer.html' %}
</body>
</html>