<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/productos.css' %}">
    {% include 'layouts/head_atts.html' %}
    <title>Apple - {{producto.nombre}}</title>
</head>
<body>
    {% include 'layouts/header.html' %}
    <main>
        <article>
            <div class="image">
                <img src="/media/{{producto.foto}}">
            </div>
            <div class="info">
                <a href="{% url 'temas' producto.categoria.nombre %}"><b> < {{producto.categoria}}</b></a>
                <h1>{{variante_selec.nombre_variante}}</h1>
                <p>{{producto.descripcion}}</p>
                <b>Stock: {{producto.stock}}</b>
                <b>Variantes:</b>
                <div class="cont-variantes">
                {% for variante in variantes %}
                    <a href="{% url 'variante' producto.categoria.nombre producto.id variante.id %}" class="variante_link">{{variante.nombre_variante}}</a>
                {% empty %}
                <p>Producto sin variante</p>
                {% endfor %}
                </div>
                <a href="">Editar</a>
            </div>
        </article>
    </main>
    {% include 'layouts/footer.html' %}
</body>
</html>