<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/productos.css' %}">
    {% include 'layouts/head_atts.html' %}
    <title>Apple - {{producto.nombre}}</title>
</head>
<body>
    {% include 'layouts/header.html' %}
    <main>
        <article>
            <div class="image">
                <img src="/media/{{variante_selec.image}}">
            </div>
            <div class="info">
                <a href="{% url 'temas' producto.categoria.nombre %}"><b> < {{producto.categoria}}</b></a>
                <h1>{{variante_selec.nombre_variante}}</h1>
                {% if variante_selec.stock <= 0 %}
                    <b class="no-avaible">Sin stock</b>
                {% else %}
                    <b class="avaible">Stock del modelo: {{variante_selec.stock}}</b>
                {% endif %}
                <b>Descripcion:</b>
                <p>{{variante_selec.descripcion}}</p>
                <b>Variantes:</b>
                <div class="cont-variantes">
                {% for variante in variantes %}
                    {% if variante.nombre_variante == variante_selec.nombre_variante %}
                        <a href="{% url 'producto' producto.categoria.nombre producto.id %}" id="select" class="variante_link">{{variante.nombre_variante}}</a>
                    {% else %}
                        <a href="{% url 'variante' producto.categoria.nombre producto.id variante.id %}" class="variante_link">{{variante.nombre_variante}}</a>
                    {% endif %}
                {% empty %}
                <p>Producto sin variante</p>
                {% endfor %}
                <a href="{% url 'crear_mod' variante_selec.producto.id %}"><i class="fa-solid fa-plus"></i></a>
                </div>
                <div class="cont-btns">
                    <a href="{% url 'editar_var' variante_selec.id %}" class="btn-edit">Editar variante</a>
                    <a href="{% url 'eliminar_variante' variante_selec.id %}" onclick="return confirm('¿Estás seguro de que deseas eliminar esta variante?');" class="btn-edit">Eliminar variante</a>
                </div>
            </div>
        </article>
    </main>
    {% include 'layouts/footer.html' %}
</body>
</html>